<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css">
    <title>Game Page</title>
</head>
<body>
    <div>
        <div id="player-container">
            <div id="player"></div>
            <div id="overlay"></div>
        </div>
        <div class="buttons">
            <button id="playButton">Play</button>
            <button id="pauseButton">Pause</button>
            <button id="backToQuizButton">Back to Quiz</button>
        </div>

        <div id="chat-log"></div>
        
        <div class="countdown" id="countdown">3</div>

        <div class="formContainer" id="formContainer">
            <form id="userForm" action="http://localhost:<%= portNumber %>/songList/game" method="post">
                <input type="text" id="inputField" name="userAttempt" placeholder="Enter text here">
                <input type="submit" id="submitButton" value="Submit">
                <input type="text" id="objID" name="objID" value="<%= objID %>">
            </form>
        </div>
        <a href="http://localhost:<%= portNumber %>">Home</a>
    </div>

    <div id="customAlert" class="modal">
        <div class="modal-content">
            <p id="failMessage">Incorrect solution. Please try again or go back to home.</p>
            <button id="tryAgainButton">Try Again</button>
            <button id="goHomeButton">Go Back to Home</button>
        </div>
    </div>

    <div id="gameDidNotStart" class="modal">
        <div class="modal-content">
            <p id="failMessage">game did not start yet</p>
        </div>
    </div>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        let player;
        const startTime = "<%= startTime %>";
        const quizStartTime = "<%= quizStartTime %>";
        const quizEndTime = "<%= quizEndTime %>";
        let quizStarted = false;
        let quizSubmitted = false;
        let playRequested = false;

        function onYouTubeIframeAPIReady() {
            console.log('YouTube IFrame API is ready');
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: '<%= id %>',
                playerVars: {
                    'controls': 0,
                    'rel': 0,
                    'showinfo': 0,
                    'modestbranding': 1,
                    'start': startTime
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            const playButton = document.getElementById('playButton');
            const pauseButton = document.getElementById('pauseButton');
            const backToQuizButton = document.getElementById('backToQuizButton');
            const tryAgainButton = document.getElementById('tryAgainButton');

            playButton.addEventListener('click', () => {
                player.seekTo(startTime);
                player.playVideo();
            });

            pauseButton.addEventListener('click', () => {
                player.pauseVideo();
            });

            backToQuizButton.addEventListener('click', () => {
                player.seekTo(quizStartTime);
                player.playVideo();
                document.getElementById('pauseOverlay').style.display = 'none';
            });

            tryAgainButton.addEventListener('click', () => {
                quizSubmitted = false;
                player.seekTo(quizStartTime);
                player.playVideo();
                document.getElementById('pauseOverlay').style.display = 'none';
            });

            if (playRequested) {
                player.playVideo();
            }
            //player.playVideo();
        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                const checkTime = setInterval(() => {
                    const currentTime = player.getCurrentTime();
                    if (currentTime >= quizStartTime && currentTime < quizEndTime && !quizStarted) {
                        player.pauseVideo();
                        clearInterval(checkTime);
                        startCountdown();
                        quizStarted = true;
                    } else if (currentTime >= quizEndTime && !quizSubmitted) {
                        player.pauseVideo();
                        clearInterval(checkTime);
                        document.getElementById('formContainer').style.display = 'flex';
                    }
                }, 1000);
            }
        }

        function startCountdown() {
            const countdownElement = document.getElementById('countdown');
            countdownElement.style.display = 'flex';
            let countdown = 3;

            const countdownInterval = setInterval(() => {
                countdownElement.textContent = countdown;
                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    countdownElement.style.display = 'none';
                    document.getElementById('formContainer').style.display = 'flex';
                    document.getElementById('backToQuizButton').style.display = 'flex';
                    player.playVideo();
                } else {
                    countdown--;
                }
            }, 1000);
        }

        const submitButton = document.getElementById('submitButton');
        submitButton.addEventListener('click', () => {
            quizSubmitted = true;
            player.playVideo();
        });

        const solutionData = '<%= solution %>';

        document.getElementById('userForm').addEventListener('submit', function(event) {
            const userInput = document.getElementById('inputField').value;
            if (userInput !== solutionData) {
                console.log("==========got it wrong")
                event.preventDefault();
                document.getElementById('customAlert').style.display = 'block';
            } else {
                console.log("==========got it right")
                endGame()
            }
        });

        document.getElementById('tryAgainButton').addEventListener('click', function() {
            document.getElementById('customAlert').style.display = 'none';
        });

        document.getElementById('goHomeButton').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
    <script src="/js/game.js"></script>
</body>
</html>
