<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song List</title>
    <link rel="stylesheet" href="/css/songList.css">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Sixtyfour&display=swap" rel="stylesheet">
    <!-- Include Masonry library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
</head>
<body>
    <div class="songList-left">
        <h1>Song<br>List</h1>
    </div>
    <div class="cards-container">
        <div class="cards">
            <% songArray.forEach(function(song) { %>
                <div class="songListcard" onclick="window.location.href='songList/game/<%= song.youtubeURL %>/<%= song.startTime %>/<%= song.quizStartTime %>/<%= song.quizEndTime %>/<%= song._id %>'">
                    <div class="songListcard-content">
                        <%= song.title %>
                        <br><br>
                        <%= song.artist %>
                        <br><br>
                        <img src="<%= song.thumbnailURL %>" alt="thumbnail" class="thumbnail">
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script>
        function extractYouTubeVideoID(url) {
            const regex = /(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?v=([^&]+)/;
            const match = url.match(regex);
            return match ? match[1] : null;
        }
    </script>
    <script>
        // document.addEventListener('DOMContentLoaded', function () {
        //     var elem = document.querySelector('.cards');
        //     var msnry = new Masonry(elem, {
        //         // options
        //         itemSelector: '.songListcard',
        //         columnWidth: '.songListcard',
        //         percentPosition: true
        //     });
        // });
    </script>
</body>
</html>
